*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.R-body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#ffffff,#3C5936);
}
.R-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
.R-section .R-login-page{
    margin-top: 30px;
    width: 500px;
    background: rgba(20, 18, 28, 0.666);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
.R-section .R-login-page .R-login-page-content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.R-login-page-content h2{
    font-size: 2em;
    color: #95b496;
}
.R-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.R-form .R-inputBx{
    position: relative;
    width: 100%;
}
.R-form .R-inputBx input{
    position: relative;
    width: 100%;
    background: #a7a5a5;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #2d2a2a;
    font-weight: 500;
    font-size: 1em;
}
.R-form .R-inputBx select{
    position: relative;
    width: 100%;
    background: #a7a5a5;
    border: none;
    outline: none;
    padding: 5px 10px 7.5px;
    border-radius: 4px;
    color: #2d2a2a;
    font-weight: 500;
    font-size: 1em;
}
.R-form .R-inputBx label{
    color: #dbd3d3;
    padding-left: 5px;
}
.R-form .R-inputBx i{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #383333;
    transition: 0.5s;
    pointer-events: none;
}
.R-form .R-inputBx input:focus ~ i,
.R-form .R-inputBx input:valid ~ i{
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

.R-form .R-links{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.R-form .R-links h4{
    color: rgb(227, 215, 215);
    text-decoration: none;
    font-size: 12px;
}
#loglink{
    color: #27792a;
    font-size: 16px;
    font-style: italic;
    transition: 0.4s;
}
#loglink:hover{
    transform: scale(1.1);
}
.R-form .R-inputBx input[type="submit"]{
    padding: 10px;
    background-color: #0A220B;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: 0.4s;
}
.R-form .R-inputBx input[type="submit"]:hover{
    transform: scale(1.1);
}

@media (max-width: 900px){
    .R-section span
    {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

#R-maxtitle{
    font-size: 35px;
    color: #0e2c0f;
}

@media (max-width: 650px){
    .R-section span
    {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
    .R-login-page-content h2{
        font-size: 1em;
    }
    #R-maxtitle{
        font-size: 1.5em;
    }
    .R-form .R-inputBx input{
        font-weight: 400;
        font-size: .8em;
        height: 40px;
        background: #32313181;
    }
    .R-section .R-login-page{
        width: 250px;
        padding: 20px;
    }
    .R-section .R-login-page .R-login-page-content{
        gap: 25px;
    }
    .R-form{
        gap: 25px;
    }
    .R-form .R-inputBx{
        position: relative;
        width: 100%;
    }
    .R-form .R-inputBx i{
        font-size: .8em;
    }
    .R-form .R-inputBx input:focus ~ i,
    .R-form .R-inputBx input:valid ~ i{
        font-size: 0.6em;
    }
    .R-form .R-links h4{
        color: rgb(185, 176, 176);
        font-size: 8px;
    }
    #loglink{
        font-size: 12px;
    }
    .R-form .R-inputBx input[type="submit"]{
        padding: 5px;
        font-size: .9em;
    }
}

.company-logo{
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.company-logo p{
    font-size: 12px;
    font-style: italic;
}